@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-ExtraBold.eot');
    src: url('IRANYekanMsn-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-ExtraBold.woff2') format('woff2'),
        url('IRANYekanMsn-ExtraBold.woff') format('woff'),
        url('IRANYekanMsn-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-Bold.eot');
    src: url('IRANYekanMsn-Bold.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-Bold.woff2') format('woff2'),
        url('IRANYekanMsn-Bold.woff') format('woff'),
        url('IRANYekanMsn-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn.eot');
    src: url('IRANYekanMsn.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn.woff2') format('woff2'),
        url('IRANYekanMsn.woff') format('woff'),
        url('IRANYekanMsn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-Black.eot');
    src: url('IRANYekanMsn-Black.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-Black.woff2') format('woff2'),
        url('IRANYekanMsn-Black.woff') format('woff'),
        url('IRANYekanMsn-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-Thin.eot');
    src: url('IRANYekanMsn-Thin.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-Thin.woff2') format('woff2'),
        url('IRANYekanMsn-Thin.woff') format('woff'),
        url('IRANYekanMsn-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-Medium.eot');
    src: url('IRANYekanMsn-Medium.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-Medium.woff2') format('woff2'),
        url('IRANYekanMsn-Medium.woff') format('woff'),
        url('IRANYekanMsn-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-Light.eot');
    src: url('IRANYekanMsn-Light.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-Light.woff2') format('woff2'),
        url('IRANYekanMsn-Light.woff') format('woff'),
        url('IRANYekanMsn-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ags';
    src: url('IRANYekanMsn-ExtraBlack.eot');
    src: url('IRANYekanMsn-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('IRANYekanMsn-ExtraBlack.woff2') format('woff2'),
        url('IRANYekanMsn-ExtraBlack.woff') format('woff'),
        url('IRANYekanMsn-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}